@use './styles/variables' as *;

main {
  margin-top: 140px;
  #title-shop {
    display: flex;
    justify-content: center;
  }
  #shop-section {
    display: flex;
    width: 98%;

    div {
      .cat {
        display: flex;
        gap: 15px;
        list-style: none;
        padding: 0;
        justify-content: center;
        font-size: 1.5rem;
        flex-wrap: wrap;
        height: 350px;

        li {
          background-color: $secondary-background;
          border-radius: 8px;
          cursor: pointer;
          padding: 30px 0 30px 0;
          width: 18%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: $Title;
        }
      }
      .item-list {
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        .item {
          width: 20%;
          list-style: none;
          min-width: 150px;
          text-align: center;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          margin-bottom: 55px;
          font-family: $Text;
          .card-container {
            img {
              border-radius: 8px 8px 0 0;
              object-fit: cover;
              background-color: whitesmoke;
            }
            background-color: $secondary-background;
            width: 250px;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
