@use '../../styles/variables' as *;

body {
  background-image: url('/Background_DL.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section#download-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #title {
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #button_download {
    display: flex;
    justify-content: center;
    align-items: center;

    button#download {
      margin-top: 20px;
      padding: 18px 45px;
      font-size: 1.5rem;
      position: relative;
      &:hover {
        background-color: $hover-button;
      }

      #icone {
        position: absolute;
        top: 22;
        right: 15;
      }
    }
  }

  #system {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
}
