@use '../../styles/variables' as *;

#signUpPage {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 220px auto 140px auto; // centrage + marge
  h2 {
    margin-bottom: 50px;
    font-size: 2rem;
  }

  label {
    display: flex;
    flex-direction: column; // texte au-dessus de l'input
    gap: 5px;
    #star {
      color: red;
    }
    input#infosCompte {
      width: 335px;
      border-radius: 25px;
      height: 35px;
      font-family: $Text;
      padding-left: 15px;
    }
    #age {
      display: flex;
      gap: 45px;
    }
    #date {
      width: 75px;
      border-radius: 25px;
      height: 35px;
      padding-left: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 550px;
    gap: 20px;
    border-radius: 8px;

    background-color: #0b1858;
    box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.286);
  }
  button {
    background-color: $button-color; /* vert moderne */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    width: 350px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  button:hover {
    background-color: $hover-button; /* vert un peu plus foncé */
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  p {
    font-size: 1rem;
    font-family: $Text;
  }
}
