@use '../../../styles/variables' as *;

.wrapper {
  position: relative;
  display: inline-block;
}

.avatar {
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.menu {
  position: absolute;
  top: 48px;
  right: 0;
  height: 350px;
  width: 280px;
  z-index: 1000;
  background-color: rgba(21, 21, 21, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;

  .username {
    font-weight: 700;
    margin: 0;
  }
}

.content {
  padding: 12px 16px;
}

.eterBox {
  padding: 12px;
  border-radius: 8px;
  background: #515151;
  margin-bottom: 16px;

  p {
    margin: 0 0 6px 0;
    color: $text-color;
    font-family: $Text;
  }

  a {
    color: #ffb830;
    font-size: 0.9rem;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    font-family: $Text;
    color: #ededed;
    font-size: 0.95rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.logout {
  margin-top: 16px;
  width: 100%;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  background: #515151;
  color: $text-color;
  font-family: $Text;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background: $hover-button;
  }
}
