// Couleurs
$primary-background: #040F38;
$secondary-background: #0B1858;

$text-color: #ededed;
$text-navbar: #D9E1E9;
$text-footer: 909090;

$button-color : #FFB830;
$hover-button : #FF6633;

// Polices
$Title : Bangers;
$Text : Poppins;
$Button : Poppins Bold;